<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<header>
			header
		</header>
		<main>
			{{{body}}}
			<div>Hello main</div>
		</main>
		<footer>
			footer
		</footer>
	</body>
</html>