<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			header
		</header>
		<main>
			<div>about1</div>
			{{{body}}}
		</main>
		<footer>
			footer
		</footer>
	</body>
</html>
