<!DOCTYPE html>
<html>

<head>
	<title>{{ title }}</title>
</head>

<body>
	<header>
		{{!-- {{> header/menu}} --}}
	</header>
	<main>
		<div>index</div>
		<div>{{#with product}}
			{{name}} {{cost}}
			{{/with}}
		</div>
	</main>
	<footer>
		{{!-- {{> footer/contact}} --}}
	</footer>
</body>

</html>